*
!.gitignore
!*.py
!*.txt
!*.md
!*.ipynb
!*.yml
!*.sh
!*.org
!MakeFile

!*/
!/backup/
!/conf/
!/notebooks/
!/org/
!/dual_data/
!/tests/
!/reports

!/**/*.md
!/**/*.py
!/**/*.txt
!/**/*.yml
!/**/*.ipynb
!/**/*.sh
!/**/*.org
!/**/MakeFile
!/**/*.bak

/data