*
!.gitignore
!.gitattributes
!*.py
!*.txt
!*.md
!*.ipynb
!*.yml
!*.sh
!*.org
!MakeFile

!*/
!/backup/
!/conf/
!/notebooks/
!/org/
!/src/
!/tests/
!/figs/
*.pkl

!/**/*.md
!/**/*.py
!/**/*.txt
!/**/*.yml
!/**/*.ipynb
!/**/*.sh
!/**/*.org
!/**/MakeFile
!/**/*.bak
/**/*.pkl

/data